*{margin: 0; padding:0;}
a{color: #000; text-decoration: none;}

#bdd_web{width: 1320px; margin: 0 auto;
         overflow: hidden;}
#bdd_web img{width: 100%;}

.top{width: 60px; height: 60px; background-color: rgb(229, 184, 255); border-radius: 30px;position: fixed; bottom: 30px; right:30px;}
.top a{display: inline-block; padding: 20px 15px; font-weight: bold; color:#fff;}
